:host
{
    width: 400px;
    height: 190px;
    user-select: none;
}
ul
{
    margin: 0;
    list-style: square;
    line-height: 2rem;
    font-size: 1.1rem;
    transition: display 1s;
    span
    {
        margin: 0;
        padding-left: 1rem;
        cursor: pointer;
    };
}

.hide
{
    display: none;
}

